h1{
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.performances {
    list-style-type: none;
    color: #EAD2AC;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .6);
}
