<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <h1>{{title | uppercase}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=America%2FLos_Angeles&amp;src=dWt1bGlzZUBnbWFpbC5jb20&amp;color=%23039BE5" style="border:solid 1px #777;height: 700px;width: 100%;" frameborder="0" scrolling="no"></iframe> 
        <!-- <ul class="performances">
        <li *ngFor="let performance of performances">
          <h6 class="p-md-2">{{performance.date}} - {{performance.title}}</h6>
          <h6 class="pl-md-5 pb-3 pl-3"> {{performance.venue}}, {{performance.location}}</h6>
        </li>
      </ul> -->
    </div>
  </div>

</div>
