@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

html {
  min-height: 100%;
}

body {
  font-family: 'Alegreya', serif;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./img/IMG_2285.JPG");
  background-position: center;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Alegreya', serif;
}

p,
input,
textarea {
  font-family: 'Alegreya Sans', serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

.section {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .6);
  margin: 2% 20%;
  padding: 2% 5%;
  height: 100%;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}