<div id="top" class="text-center">
  <h1 class="cover-heading">The Lee Sisters!</h1>
  <a href="https://www.youtube.com/channel/UCg4YdL9318JS6ATDBLgRpqA/feed"><i class="fab fa-youtube"></i></a>
  <a href="https://www.facebook.com/TheLeeSistersUkeDuo/"><i class="fab fa-facebook-square pl-3"></i></a>
  <a href="https://www.instagram.com/theleesistersukeduo/"><i class="fab fa-instagram pl-4"></i></a>
</div>


<div id="about">
  <div class="p-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="img-fluid float-left mx-auto" src="../../assets/IMG_2407.JPG">
      </div>
      <div class="col-12 col-md-6">
        <h2>About Us</h2>
        <p>From Rancho Cucamonga California, The Lee Sisters - Lise and Emi Lee!</p>
        <p>Sisters in real life, the girls have been performing throughout California and Hawaii since 2015.</p>
        <p>Their ukulele adventure took off in earnest in January 2015 when they were invited by Kanile&#39;a Ukulele to play
          at the NAMM show in Anaheim California, the world’s largest music convention. Since then, they&#39;ve been invited
          to perform at dozens of festivals and events throughout Southern California, including the Heritage of Aloha Festival
          in Santa Fe Springs California (where Lise was the winner of their 2015 ukulele competition). In Hawaii, they have
          performed as guests of Bryan Tolentino and Herb Ohta Jr. at the Kani Ka Pila Grille, the Moana Terrace at Marriott
          Waikiki as guests of Alan Akaka and the Keawe Ohana Show, and most recently at Disney’s Aulani Resort as guests
          of The Makaha Sons.</p>
        <p>They are very proud to be sponsored by Kanile’a and Islander Ukulele, as Kanile’a featured artists, and both play
          Kanile’a premium tenor ukuleles.</p>
        <p>Lise is currently attending the University of California, Riverside (UCR), majoring in business administration. Emi
          recently graduated from the University of California, San Diego (UCSD), where she majored in mechanical engineering
          and was also president and hula choreographer for the UCSD Hawaii Club. After graduation, Emi accepted an internship
          with Disney Imagineering in Orlando Florida, to pursue a career designing future Disney attractions. And now, she
          is now a full- time Disney Imagineer!</p>
        <p>The Lee Sisters have recently completed recording two original ukulele pieces for a new EP released by Sandwich Islands
          Network (SIN) Radio entitled “California 808”, and are working towards completing their own original album in the
          coming year.
        </p>
        <p>Finally, you may also be surprised to learn that they have only been playing ukulele for 5 years......and are self
          taught!
        </p>
        <p>Check out their videos on their YouTube channel &quot;UkuLise&quot;, and their Facebook and Instagram pages “The
          Lee Sisters”(@ TheLeeSistersUkeDuo).</p>
      </div>
    </div>


  </div>

</div>
